/*------------------------------ Global ------------------------------*/

body {
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #282A29;
}
.layout--ptc-full-screen-left .l-statement, 
.layout--ptc-full-screen-left main.container {
	height: auto!important;
	margin-bottom: 3em;
}

/* ---- Headings ---- */

h1, h2, h6 {
	font-family: 'playfair_displayregular', serif;
}

h1 {
	letter-spacing: 1px;
}
h1.page-title {
	margin: .5em 0;
	font-weight: 700;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 3.5em;
}
h1.block-title {
	margin-top: 1em;
}
h2 {
	font-weight: 900;
	letter-spacing: 2px;
}
/* h3 top padding was an issue for services home section, so if that is needed anywhere else for h3, need to know that */
h3 {
	font-family: 'playfair_displayregular', serif;
	color: #282A29;
}
h4 {
	font-family: 'Nunito Sans', sans-serif;
}
h5, h6 {
	font-family: 'Nunito Sans', sans-serif;
}
p {
	line-height: 24px;
}
a {
	text-decoration: underline;
	text-decoration-color: #f6ab3f;
	color: #282A29;
}
.l-content a:hover {
	text-decoration: none;
}
ol {
	counter-reset: list-counter;
    list-style: none;
    float:left;
}
ol li {
	margin: 1.5em 0 1.5em 3em;
    line-height: 24px; 
    position: relative;
	}
ol li:before {
	content: counter(list-counter);
    counter-increment: list-counter;
    width: .5em;
    height: .5em;
    padding: .5em;
    margin-right: 1em;
    /*border: .25em solid #F5AB3D;*/
    background: #F5AB3D;
    color: #282A29;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    line-height: 14px;
    position: absolute;
    left: -3em;
}
@media (min-width: 48em) {
	h1.page-title {
		text-align: left;
	}

}

/*------ Buttons -----*/
.button, 
input.form-submit:not(#edit-reset), 
input.button-primary, 
button.button-primary, 
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	background: #474748;
	color:  #F4F4F4;
	border-radius: 10px;
	font-weight: 900;
	text-decoration: none;
}
.l-navigation .button {
	margin-bottom: 0;
	line-height: 1.5em;
}
.button:hover, 
.button:focus, 
input.form-submit:not(#edit-reset):hover, 
input.form-submit:not(#edit-reset):focus {
	color: #474748;
	background: #d5d5d5;
}


/* ---- Object Color Options ---- */

.color-yellow {
	background: #F5AB3D;
	color: #282A29;
}
.color-yellow a {
	color: #282A29;
}
.color-blue {
	background: #48A6BC;
	color: #282A29;
}
.color-red { 
	background: #e36d50;
	color: #F4F4F4;
}
.color-gray-lt {
	background: #f6f7f8;
	color: #282A29;
}

/*------------------------------ Pager Styling ------------------------------*/

.pager-first, 
.pager-previous, 
.pager-ellipsis, 
.pager-current, 
.pager-next, 
.pager-last, 
.pager-item {
	background: #48A6BC;
	color: #282A29;
}
.pager-first a, 
.pager-previous a, 
.pager-next a, 
.pager-last a, 
.pager-item a {
	color: #282A29;
	display: block;
	position: relative;
}
.pager-current {
	background: #282A29;
	color: #F4F4F4;
}
.pager-current a {
	color: #F4F4F4;
}
.pager-first a:hover, 
.pager-previous a:hover, 
.pager-next a:hover, 
.pager-last a:hover, 
.pager-item a:hover {
	background: #282A29;
	color: #F4F4F4;
}

/*------------------------------ Misc. Objects ------------------------------*/

#loader {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .95;
}
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid #e36d50;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
.inperson {
	color: #CC8D34;
	font-weight: 700;
	margin-right: 10px;
}
.inperson::before{
	content: "";
	display: inline-block;
	background: url('../images/inperson.svg') no-repeat left bottom;
	background-size: 9px auto;
	height: 14px;
	width: 14px;
	margin-bottom: -1px;
}
.online {
	color: #48A6BC;
	font-weight: 700;
}
.online::before {
	content: "";
	display: inline-block;
	background: url('../images/online.svg') no-repeat left bottom;
	background-size: 15px auto;
	height: 14px;
	width: 20px;
}
.flag {
	background: #e2e2e2;
	color: #474748;
	border-radius: 0 3px 3px 0;
	padding: 2px 10px 2px 20px;
	position: relative;
	text-decoration: none;
	font-weight: 900;
	font-size: .8em;
}
.flag::before {
	background: #fff;
	border-bottom: 11px solid transparent;
    border-right: 10px solid  #e2e2e2;
    border-top: 11px solid transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}
.National-Organization-flag {
	background: #adddec;
}
.National-Organization-flag.flag::before {
	border-right: 10px solid  #adddec;
}
.Regional-Organization-flag {
	background: #f1d0a2;
}
.Regional-Organization-flag.flag::before {
	border-right: 10px solid  #f1d0a2;
}
.State-Organization-flag {
	background: #efb1a4;
}
.State-Organization-flag.flag::before {
	border-right: 10px solid  #efb1a4;
}
.jump select.form-select {
	width: 100%;
	max-width: 300px;
	}
.jump-tab {
	margin: 0 auto;
	padding: 1em;
	border-radius: 0 0 10px 10px;
}
@media (min-width: 48em) {
	.jump-tab {
		float: right;
	}
}


/*-------------------------- Shrinker and Drawer styling --------------------------*/
.shrinker {
	background: url("../images/down-arrow.svg") no-repeat center right 1em;
	background-size: 20px auto;
}
.shrinker.enlarged {
	background: url("../images/up-arrow.svg") no-repeat center right 1em;
	background-size: 20px auto;
}
.shrinker span {
	margin-left: 1em;
	text-transform: uppercase;
	font-weight: 700;
}
.shrinker.enlarged span {
	display: none;
}
.pull {
	background: url("../images/plus-box.svg") #f6f7f8 no-repeat center right 1em;
	background-size: 20px 20px;
	border-bottom: none;
	border-top: #E2E2E2 1px solid;
}
.pull.open {
	background: url("../images/minus-box.svg") #f6f7f8 no-repeat center right 1em;
	background-size: 20px 20px;
}
.junk {
	background: #f6f7f8;
	padding: 0 15px;
}
.junk ul {
	margin: 0;
	padding: 1em;
}

/*------------------------------ Navigation ------------------------------*/
.l-header ul:not(.contextual-links) li {
	text-transform: none;
	letter-spacing: 1px;
	color: #282A29;
}
.l-navigation .menu li a {
	cursor: pointer;
	font-weight: 600;
}
.l-navigation .menu li li {
	text-transform: none;
	margin: 10px 0;
}
.block-system-main-menu .menu-dropdown {
	float: left;
}
.block-menu-menu-user-login .menu-dropdown {
	float: right;
}
.menu-toggle-button-text {
	color: transparent;
	display: block;
	height: 20px;
}
.menu-dropdown a span.sub-arrow {
	font: normal 1.5rem/1.25rem 'Nunito Sans';
}
.menu-dropdown ul {
	background: #282a29;
}
.js .menu-dropdown > li:hover > a,
.js .menu-dropdown > li.has-children > a:hover, 
.js .menu-dropdown > li.has-children > a:focus,
.menu-dropdown ul a:hover, .menu-dropdown ul a:focus, 
.menu-dropdown ul a:active, .menu-dropdown ul a.highlighted {
	background-color: #48A6BC;
	color: #282A29;
}
.js .block-menu-menu-user-login .menu-dropdown > li:hover,
.js .block-menu-menu-user-login .menu-dropdown > li.has-children > a:hover, 
.js .block-menu-menu-user-login .menu-dropdown > li.has-children > a:focus,
.block-menu-menu-user-login .menu-dropdown ul a:hover, .menu-dropdown ul a:focus, 
.block-menu-menu-user-login .menu-dropdown ul a:active, .menu-dropdown ul a.highlighted {
	background-color: transparent;
}
/* Page submenus */
.block-system-main-menu.submenu-tabs ul.menu-tree {
	text-align: center;
	display: inline-block;
	margin: 0;
	border: 0;
	padding: 0px;
	position: relative;
	list-style: none;
	list-style-image: none;
	background-color: transparent;
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	width: 100%;
	height: auto;
	clear: both;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.block-system-main-menu.submenu-tabs ul.menu-tree li {
	float: none;
	background: transparent;
	border-right: none;
	padding: 0;
}
.block-system-main-menu.submenu-tabs ul.menu-tree li.active-trail {
	background-color: #fff;
	padding: 0 0 1px 0;
}
.block-system-main-menu.submenu-tabs ul.menu-tree li a {
	display: block;
	text-decoration: none;
	padding: 0.5em 0.6em 0.3em 0.6em;
	position: relative;
	top: 0px;
	color: #6D6D6D;
	font-weight: 900;
	transition: all 0.3s ease;
}
.block-system-main-menu.submenu-tabs ul.menu-tree li a:hover {
	color: #282A29;
}
.block-system-main-menu.submenu-tabs ul.menu-tree li.active-trail a {
	color: #282A29;
}
.l-header .block-system-main-menu.submenu-tabs .menu-toggle-button {
	display: none;
}

@media (min-width: 70em) {
	.menu-dropdown li:hover a span.sub-arrow {
		border-color: #282A29 transparent transparent transparent;
	}
	.js .menu-dropdown > li:hover {
		background-color: #48A6BC;
		color: #282A29;
	}
}

/*------------------------------ Sidebar ------------------------------*/
.layout--ptc-full-screen-left .l-header {
	background: #ffffff;
	color: #282a28;
	border-right: none;	
}
.layout--ptc-full-screen-left .l-header h2, 
.layout--ptc-full-screen-left .l-header h3 {
	color: #282a28;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 700;
	font-size: 22px;
}
.layout--ptc-full-screen-left .l-header a {
	color: #282a28;
}
.layout--ptc-full-screen-left .header-logo-wrapper {
	max-width: 100%;
	margin: 0;
}
@media (min-width: 48em) {
	.header-identity-wrapper {
		text-align: center;
		float: none;
	}
}
@media (min-width: 62em) {
	.layout--ptc-full-screen-left .header-logo-wrapper {
		max-width: 100%;
    }
    .header-identity-wrapper {
	    float: left;
    }
}


/*-------------------------- Hero Section Styling --------------------------*/

.front .l-content,
.front .l-content > .col-12 {
	padding: 0!important;
}
.ptc-hero {
	background-image: url('../images/home-hero.jpg');
	background-position: right top;
	height: 70vh;
}
.ptc-hero div:not(.contextual-links-wrapper) {
	top: 20%;
}
.ptc-hero h1 {
	font-size: 2.25rem;
	font-family: "playfair_displaybold", serif;
}
.dblue-box {
	top: unset;
	background-color: transparent;
	padding: 0 40px;
}
.block-views-state-policies-drop-down-block,
.block-views-member-organizations-block-2 {
	padding: 20px 40px;
}
@media (min-width: 70em) {
	.ptc-hero {
		height: 70vh;
	}
	.ptc-hero h1 {
		font-size: 3.25rem;
	}
	.ptc-hero div:not(.contextual-links-wrapper) {
		top: unset;
		align-self: flex-end;
		padding-bottom: 1em;
	}
}
/*-------------------------- Hero Sub-Section Styling --------------------------*/

.color-yellow h4 {
	font-size: 2rem;
	font-weight: 700;
}
.form-item-jump select.form-select {
	border-color: transparent;
	background: url('../images/right-arrow.svg') no-repeat #282A29;
	background-size: 7px auto;
	background-position: center right 10px;
	color: #F4F4F4;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 25px 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.form-item-jump select.form-select:hover,
.form-item-jump  select.form-select:focus {
	background: url('../images/right-arrow-blk.svg') no-repeat #F4F4F4;
	background-size: 7px auto;
	background-position: center right 10px;
	color: #282A29;
}
.intro-box {
	padding: 2em;
}

@media (min-width: 48em) {
	.front .color-yellow .view-state-policies-drop-down select.form-select {
		margin-left: 40px;
	}
}

/*------------------------------ Webforms ------------------------------*/
#views-exposed-form-portal-offerings-search-home-search .views-exposed-widget,
#views-exposed-form-portal-offerings-search-page .views-exposed-widget,
#views-exposed-form-portal-offerings-search-state-taxonomy-filters .views-exposed-widget,
#views-exposed-form-portal-offerings-search-home-search .views-exposed-widget .SumoSelect,
#views-exposed-form-portal-offerings-search-page .views-exposed-widget .SumoSelect,
#views-exposed-form-portal-offerings-search-state-taxonomy-filters .views-exposed-widget .SumoSelect {
	width: 100%;
}
#views-exposed-form-portal-offerings-search-home-search .form-submit,
#views-exposed-form-portal-offerings-search-page .views-exposed-widget .form-submit:not(#edit-reset),
#views-exposed-form-portal-offerings-search-state-taxonomy-filters .form-submit {
	width: 100%;
	font-weight: 900;
	cursor: pointer;
}
#views-exposed-form-portal-offerings-search-page .views-exposed-widget .form-submit#edit-reset {
	background: transparent;
	color: #282A29;
	cursor: pointer;
	font-weight: 900;
	text-decoration: underline;
	text-decoration-color: #f6ab3f;
	transition: all 0.3s ease;
}
#views-exposed-form-portal-offerings-search-page .views-exposed-widget .form-submit#edit-reset:hover {
	text-decoration: none;
}
#views-exposed-form-portal-offerings-search-page .views-exposed-widget.views-reset-button {
	text-align: center;
}
.view-portal-offerings-search.view-display-id-page .views-field-field-trainings-webpage {
	display: inline-block;
}
.view-portal-offerings-search.view-display-id-page .views-field-nothing-1 .button {
	padding: 10px 1em;
	margin: 1em 0;
}
form {
	margin: 0;
}
select.form-select {
	background-color: #f6f7f8;
	background-image: url('../../palante/images/down-arrow.svg');
	background-repeat: no-repeat;
	border: 0;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	padding: 10px 14px;
	background-size: 20px;
	background-position: center right 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}
select.form-select:hover {
	background-color: #E2E2E2;
}
/* Sumo Select styling */
.SumoSelect .CaptionCont.SelectBox {
	border-radius: 10px;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-size: 14px;
}
.SumoSelect > .CaptionCont > label > i {
	background-image: url('../images/down-arrow.svg');
	width: 20px;
	background-size: 15px;
	top: 40%;
}
.SumoSelect:focus > .CaptionCont, 
.SumoSelect:hover > .CaptionCont, 
.SumoSelect.open > .CaptionCont {
	box-shadow: none;
	background: #E2E2E2;
}
.SumoSelect > .optWrapper > .options li.opt {
	padding: 12px 6px;
}
.SumoSelect > .optWrapper > .options li label {
	white-space: pre-wrap;
	line-height: 1.25;
	font-weight: 100;
}
.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i, 
.SumoSelect .select-all.selected > span i, 
.SumoSelect .select-all.partial > span i {
	background-color: #5BCAEA;
}
.SumoSelect > .optWrapper.multiple > .options li.opt span i, 
.SumoSelect .select-all > span i {
	box-shadow: none;
}
.SumoSelect.open .search-txt {
	border: 1px solid #E2E2E2;
	padding: 10px 14px;
	border-radius: 10px 10px 0 0;
}
.SumoSelect > .optWrapper {
	box-shadow: none;
	border-radius: 0 0 10px 10px;
}
.SumoSelect > .optWrapper.multiple > .options li.opt {
	margin-bottom: 0;
}
.SumoSelect > .optWrapper > .options li.opt:hover {
	background: #F4F4F4;
}
.SumoSelect label {
	margin-bottom: 0;
}
/* End Sumo Select styling */
#views-exposed-form-portal-offerings-search-home-search fieldset,
#views-exposed-form-portal-offerings-search-page fieldset {
	margin: 0;
	padding: 2.5em 0 0 0;
}
#views-exposed-form-portal-offerings-search-home-search fieldset .fieldset-legend,
#views-exposed-form-portal-offerings-search-page fieldset .fieldset-legend {
	padding: 0;
	text-align: right;
}
.js fieldset.collapsible .fieldset-legend a {
	color: #48a6bc;
	text-transform: none;
	font-size: 15px;
}
.js fieldset.collapsible .fieldset-legend a:before {
	position: relative;
	left: 0;
	color: #48a6bc;
	border-top-color: #48a6bc;
	border: none;
	padding: 0;
	top: 3px;
	content: "-";
	font-size: 34px;
	line-height: 0;
	
}
.js fieldset.collapsible.collapsed .fieldset-legend a:before {
	background: url("../images/filter.svg") no-repeat;
	content: "";
	top: 1px;
	font-size: unset;
	padding: 0 8px;
	
}
#views-exposed-form-portal-offerings-search-home-search fieldset .fieldset-wrapper,
#views-exposed-form-portal-offerings-search-page fieldset .fieldset-wrapper {
	padding: 0;
}
#views-exposed-form-portal-offerings-search-home-search .fieldset-wrapper .form-item,
#views-exposed-form-portal-offerings-search-page fieldset .fieldset-wrapper .form-item {
	padding: .5em 0 0 0;
}
.js #views-exposed-form-portal-offerings-search-home-search fieldset.collapsed,
.js #views-exposed-form-portal-offerings-search-page fieldset.collapsed {
	padding: 2.5em 0 0!important;	
}

/* Web intake forms */
.block-system-main form {
	background: #f6f7f8;
	padding: 2em;
	max-width: 600px;
}
.block-system-main input.form-autocomplete, 
.block-system-main input.form-text,
.block-system-main input.form-tel, .webform-client-form input.form-date, 
.block-system-main input.form-time, 
.block-system-main input.form-email, 
.block-system-main input.form-url, 
.block-system-main input.form-color, 
.block-system-main input.form-number, 
.block-system-main input.form-search, 
.block-system-main input.form-file, 
.block-system-main textarea.form-textarea {
	border: 1px solid #282A29;
}
.block-system-main .form-item [type="checkbox"] {
	-webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #E2E2E2;
    position: relative;
}
.block-system-main .form-item [type="checkbox"]:checked {
  background-color: #48A6BC;
}
.block-system-main .form-item [type="checkbox"]:checked:after {
  display: block;
  position: absolute;
  content: '';
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #f6f7f8;
  color: white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.block-system-main .form-item label.option {
	cursor: pointer;
}
.block-system-main .form-item select.form-select {
	background-color: #fff;
	background-image: url('../images/down-arrow.svg');
	background-repeat: no-repeat;
	border: 1px solid #282A29;
	border-radius: 0;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	padding: 10px 14px;
	background-size: 15px;
	background-position: center right 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}
/* Admin navigation tabs */
nav.tabs:before {
	background: transparent;
}
ul.primary li.active a, ul.primary li.active a.active, ul.primary li.active a:active, ul.primary li.active a:visited, .responsive-tabs-mobile .expand-dropdown-tabs-label {
	background-color: #282A29;
	color: #f6f7f8;
}
ul.primary li a, ul.primary li a:visited, ul.primary li a:hover, ul.primary li.active a, .expand-dropdown-tabs-control, .responsive-tabs-mobile .expand-dropdown-tabs-control:before, .responsive-tabs-mobile .expand-dropdown-tabs-label {
	background-color: #f6f7f8;
	border-color: #F5AB3D;
}
ul.primary {
	margin: 0;
}


/*------------------------------ Search Results ------------------------------*/
.views-view-grid {
	display: block;
}

.view-name-portal_offerings_search h1.page-title {
	font-family: 'Nunito Sans', sans-serif;
}
.view-portal-offerings-search .views-grid-box,
.view-trainings .views-grid-box {
	border: none;
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 2em;
	padding-bottom: 2em;
}
.view-display-id-block_3.view-trainings .views-grid-box {
	border: none;
	border-bottom: 1px #EAEAEA solid;
	border-top: 1px #EAEAEA solid;
	margin: 2em 0;
	padding: 2em 1em;
}
.view-portal-offerings-search .views-label,
.view-trainings .views-label {
	font-weight: 700;
	display: inline;
}
.view-portal-offerings-search .views-field:not(.indicators) .field-content:not(.button),
.view-trainings .views-field:not(.indicators) .field-content:not(.button) {
	display: inline;
}
.view-portal-offerings-search .type {
	margin: 0 0 2em;
	text-align: left;
	text-transform: uppercase;
	font-weight: 900;
	color: #ffffff;
}
.view-portal-offerings-search .type span {
	padding: 5px 10px;
	border-radius: 10px 10px 10px 0;
	position: relative;
}
.view-portal-offerings-search .type span::after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
    right: auto;
    top: auto;
	bottom: -10px;
	border: 12px solid;
}
.view-portal-offerings-search .type.Training span  {
	background: #75caea;
}
.view-portal-offerings-search .type.Training span::after {
	border-color: transparent transparent transparent #75caea;
}
.view-portal-offerings-search .type.Technical-Assistance span {
	background: #e36d50;
}
.view-portal-offerings-search .type.Technical-Assistance span::after {
	border-color: transparent transparent transparent #e36d50;
}
.view-portal-offerings-search .type.Policy-Support span {
	background: #edad55;
}
.view-portal-offerings-search .type.Policy-Support span::after {
	border-color: transparent transparent transparent #edad55;
}
.view-portal-offerings-search img.align-right,
.view-trainings img.align-right {
	margin-top: 2em;
}
.views-field-field-type-of-training,
.views-field-field-cost-of-training,
.views-field-field-length-of-training,
.views-field-field-age-group,
.views-field-field-locality,
.views-field-field-topic {
	margin-bottom: 0.5em;
}
.field-content {
	line-height: 24px;
}
.views-field-field-type-of-training {
	display: inline-block;
}
.view-portal-offerings-search .views-field-field-locality {
	display: inline-block;
	margin-left: 2em;
}
.view-id-trainings .views-field-field-locality {
	margin: .5em 0;
}


/*------------------------ Section General Styling ------------------------*/
.l-content.section {
	padding: 0 0 3em 0;
}

/*------------------------ Content General Styling ------------------------*/
.field-address  p {
	margin: 0;
}
.field-name-field-organization-state .field-item:not(:last-child):after,
.block-field-node-field-city .field-item:not(:last-child):after,
.node-type-organization .field-name-field-services-provided .field-item:not(:last-child):after {
	content: ", ";
}
.node-type-organization .field-name-field-services-provided .field-item,
.node-type-organization .field-name-field-organization-state .field-label,
.node-type-organization .field-name-field-organization-state .field-items,
.node-type-organization .field-name-field-organization-state .field-item {
	display: inline;
}
/* horizontal tabs general */
div.horizontal-tabs {
	border: none;
}
.horizontal-tabs ul.horizontal-tabs-list {
	text-align: center;
	background-color: transparent;
	border-right: none;
	border-bottom: 1px solid #EAEAEA;
	padding-bottom: 1em;
}
.horizontal-tabs ul.horizontal-tabs-list li {
	display: inline-flex;
	float: none;
	background: transparent;
	border-right: none;
	padding: 0;
}
.horizontal-tabs ul.horizontal-tabs-list li a, 
.horizontal-tabs ul.horizontal-tabs-list li.selected a {
	color: #C9C9C9;
	transition: all 0.3s ease;
}
.horizontal-tabs ul.horizontal-tabs-list .selected strong {
	color: #282A29;
}
.horizontal-tabs ul.horizontal-tabs-list li a:hover {
	background: transparent;
	color: #282A29;
}
.horizontal-tabs ul.horizontal-tabs-list li:hover, 
.horizontal-tabs ul.horizontal-tabs-list li:focus {
	background: transparent;
}
/* organization list */
.view-member-organizations .views-row {
	transition: all 0.3s ease;
	margin-bottom: 2em;
}
.view-member-organizations .views-row.odd {
	border-right: 1px #CECECE solid;
}
.view-member-organizations .views-row:hover {
	background: #f6f7f8;
}
.view-member-organizations .container.gutters > .col-md-6 {
	padding: 2em;
}
.view-member-organizations .views-field-field-logo {
	text-align: center;
}
/* organization pages */
.block.block-views-trainings-block-3 .views-view-grid {
	width: 100%;
	text-align: center;
}
.block-views-trainings-block-3 .views-field-field-contact-person {
	margin-top: 1em;
}
.block-views-trainings-block-3 .views-field-field-email,
.block-views-trainings-block-3 .views-field-field-website-url {
	font-weight: 900;
}
.block.block-field-node-field-trainings-webpage .field-item .button,
.views-field-field-trainings-webpage .field-content.button {
	cursor: pointer;
	text-decoration: none;
	padding: 0;
	line-height: 1.25em;
	padding: 10px 1em;
	display: inline-flex;
}
.block.block-field-node-field-trainings-webpage .field-item .button:hover, 
.block.block-field-node-field-trainings-webpage .field-item .button:focus,
.views-field-field-trainings-webpage .field-content.button:hover,
.views-field-field-trainings-webpage .field-content.button:focus {
	color: #333333;
	background: #d5d5d5;
}
.block.block-field-node-field-trainings-webpage {
	text-align: center;
	position: relative;
	margin-top: 1em;
}
@media (min-width: 48em) {
	.block.block-field-node-field-trainings-webpage {
		float: right;
	}
}
@media (min-width: 70em) {
	.block.block-views-trainings-block-3 .views-view-grid {
		text-align: left;
	}
}
/* states */
.state-content .view-member-organizations .views-view-grid {
	margin: 0 auto;
}
.state-content .view-member-organizations img {
	vertical-align: bottom;
}
.state-content .view-mode-single-pdf-display h2 a {
	display: none;
}
@media (min-width: 48em) {
	.state-content .state,
	.node-type-organization .block-system-title {
		display: inline-flex;
	}
}

/*------------------------ bug corrections (may move to parent theme) ------------------------*/
.l-navigation {
	min-height: 28px;
}
